@model AptekaInternetowa.Models.ViewModels.LoginVM

<h2>
    Przed zamówieniem produktów zaloguj się lub
    <a asp-action="Register" asp-controller="Account">zarejestruj!</a>"
</h2>

<form asp-action="Login" asp-controller="Account" method="post" role="form">

    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <div class="form-group">
        <div class="row">
            <label asp-for="UserName" class="col-2 col-form-label"></label>
            <div class="col-8">
                <input asp-for="UserName" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="row">
            <label asp-for="Password" class="col-2 col-form-label"></label>
            <div class="col-8">
                <input asp-for="Password" class="form-control" />
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Logowanie" />
    </div>

</form>