body {
    background-color: white;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.img-thumbnail {
    margin: 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 60px; /* Footer height */
}

#footer {
    background-color: #f5f5f5;
    color: #6c757d;

    position: absolute;
    width: 100%;
    line-height: 60px;
    bottom: 0;
    height: 60px; /*Footer height */
}